@font-face {
    font-family: 'droid';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: auto;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(68, 255, 99, 0.562);
}

#superior {
    background-image: linear-gradient(rgb(135, 228, 150), rgb(59, 97, 59));
    height: 180px;

    box-shadow: 3px 3px 7px rgb(59, 97, 59);
}

#cabecalho {
    text-align: center;
}

#cabecalho > h1 {
    font: normal bold 30px Helvetica, Arial, sans-serif;
    color: white;

    text-shadow: 0.7px 0.9px black;

    padding-top: 13px;

}

#cabecalho > h2 {
    font: normal bold 20px Helvetica, Arial, sans-serif;
    color: rgba(231, 231, 231, 0.979);

    text-shadow: 0.3px 0.5px black;

    padding-top: 20px;
}

#topnav {
    overflow: hidden;
    padding-top: 3.5%; /*RESOLVER! NÃO ESTÁ RESPONSIVO!*/
}

#topnav a {
    float: left;
    display: block;

    padding: 5px;
    margin: 5px;

    text-decoration: none;

    color: rgba(255, 255, 255, 0.822);
    font-size: 18px;
    text-shadow: 0.3px 0.5px black;
}

main#conteudo {
    width: 70%;
    background-color: white;

    box-shadow: 2px 2px 8px rgba(32, 32, 32, 0.623);

    padding: 18px 15px 18px 15px;
}

#conteudo h1 {
    font-family: 'droid', Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(52, 110, 52);

}

#conteudo p {
    text-align: justify;
    margin-top: 1.5%;

    font: normal normal 16px Helvetica, Arial, sans-serif;
    color: black;
}

#conteudo h2 {
    font-family: 'droid', Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(52, 110, 52);

    background-image: linear-gradient(to right, rgba(68, 255, 99, 0.226), rgba(255, 255, 255, 0.938));

    margin-top: 1.5%;
}

.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.img-pq {
    width: 30%;
}

span {
    font-weight: bold;
    color: rgb(52, 110, 52);
}

.destaque {
    text-decoration: none;
    font-weight: bold;
    color: rgb(52, 110, 52);
}

.destaque:visited {
    color: rgb(52, 110, 52);
}

.destaque::after {
    content: '🔗';
}

.caixa-video {
    position: relative;
    width: 70%;
    padding: 18px 15px 18px 15px;
    background-color: rgb(52, 110, 52);
}

.video {
  width: 95%;
  display: block;
  padding-top: 1%;
}















