@charset "UTF-8";

/*
    HTML é id em CSS é # (só pode um elemento)
    HTML é class em CSS é . (pode vários iguais)
*/

body {
    background-color: rgb(151, 192, 151);
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: rgb(0, 128, 0);
}

h1#principal {
    text-align: center;
    background-color:  #3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}

.basico {
    color: #7b803c;
}

.intermediario {
    color: #803c3c;
}

.avancado {
    color: rgb(122, 81, 81);
}

.destaque {
    background-color: rgba(180, 180, 68, 0.568);
}

