@charset "UTF-8"; /*Caso haja problemas com acentuação*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(40, 146, 196, 0.582);
    color: black;
    font-size: 15px;
}

h1 {
    color: rgb(70, 113, 179);
}

a {
    color: brown;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

